# API 文档介绍（Azure API）
* 本周主要内容：API文档阅读介绍及计算机视觉入门（认知服务）
* 20春_API_人工智能与机器学习_week02
*  电子讲义设计者：许智超，廖汉腾
<br/>
<br/>

![app_交互设计](https://pic2.zhimg.com/v2-6c478325d02ca3363ec1817a952d5321_r.jpg)

* 假想一個團隊，有前后端、PM及UI，要開發畢業相本App，人臉識別如何
    * (1)扮演加值的角色?
    * (2)給用戶的核心價值?
    * (3)UI需要什麼?
       * (3A)照片分類(API能做什麼 人臉同一張, 表情...
       * (3B)HTML+JS數據, 人臉在照片上的哪個位置, 對映到誰
    * (4)后端需要什麼?
        * (4A)API叫用-->Web Mining
        * (4B)叫用后的數據整理及分析-->Pandas

-----
![app_API_交互设计](http://coverall1.splunk.com/web_assets/developers/devguide/Essentials02_Splunk_app_architecture.png)

## 复习

复习1：上周内容，AI、API、机器学习的基本认知以及数据科学的基本流程  

* 1、API for AI 有哪些人工智能的分类（计算机视觉、语义识别、自然语言处理、推荐系统）
* 2、机器学习的关键输入是什么？（有一定规范的数据）
* 3、数据科学的基本流程（四个循环环节:问题定义->ETL和特征值提取->学习（机器）->模型部署）

复习2：jupyter的基本使用，json、requests  主要包括以下内容可能涉及的API操作：

* 1、requests POST传递参数 的基础用法
* 2、JSON 格式的基本转换（字典）
* 3、字典的处理，pandas转化数据结构
<br/>
<br/>


-----

![Face_识别示例](http://q7rdfqeve.bkt.clouddn.com/Azure_img.jpg)


## 本周内容及学习目标

本周内容聚集在复习1中的计算机视觉，以及复习2中的API操作部分，学习解决一下挑战：

1. 尝试操作计算机视觉人脸识别返回[人脸识别效果](https://azure.microsoft.com/zh-cn/services/cognitive-services/face/)
2. 阅读Azure计算机视觉的[人脸文档](https://docs.microsoft.com/zh-cn/azure/cognitive-services/face/)，以及[人脸 API v1.0文档](https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236)
2. 观看影片[知智1分钟计算机视觉](https://zhuanlan.zhihu.com/p/35652529) 与[知智1分钟人脸识别](https://zhuanlan.zhihu.com/p/36262110)
3. 注册Azure 使用API免费服务，获取key以为获取API应用做准备
4. 使用requests，用代码取得API回复
5. 写出代码，实现输入一个图片URL，可以识别出每个人脸的年龄、性别、眼镜的，加总成绩1分；列出每个人最可能的3种情绪及其判别值再加1分。
6. 使用pandas 将返回数据用数据框展示出来。

In [497]:
%%html
<style>
/* 本电子讲义使用之CSS */
div.code_cell {
    background-color: #e5f1fe;
}
div.cell.selected {
    background-color: #effee2;
    font-size: 2rem;
    line-height: 2.4rem;
}
div.cell.selected .rendered_html table {
    font-size: 2rem !important;
    line-height: 2.4rem !important;
}
.rendered_html pre code {
    background-color: #C4E4ff;   
    padding: 2px 25px;
}
.rendered_html pre {
    background-color: #99c9ff;
}
div.code_cell .CodeMirror {
    font-size: 2rem !important;
    line-height: 2.4rem !important;
}
.rendered_html img, .rendered_html svg {
    max-width: 50%;
    height: auto;
    float: center;
}
/* Gradient transparent - color - transparent */
hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
}
.emoticon{
    font-size: 5rem;
    line-height: 4.4rem;
    text-align: center;
    vertical-align: middle;
}

</style>

# 教不完所有API，但可以学如何读、用API文件

## Review: URLs for API documentation

* Symbol ? 标记
* Base url 目标API的url
* Directories 目录, 功能
    * [face++ detect API](https://console.faceplusplus.com.cn/documents/4888373) 
        * [https://api-cn.faceplusplus.com/facepp/v3/detect?](https://api-cn.faceplusplus.com/facepp/v3/detect)
    * [搜索POI](https://lbs.amap.com/api/webservice/guide/api/search)
        * [https://restapi.amap.com/v3/place/text?parameters](https://restapi.amap.com/v3/place/text?parameters)
    * [行政区域查询](https://lbs.amap.com/api/webservice/guide/api/district)
        * [https://restapi.amap.com/v3/config/district?parameters](https://restapi.amap.com/v3/config/district?parameters)

# Review: APIs use HTTP, HTTP requests的不同模式

* GET
* POST
* (optional) DELETE
* e.g
    * [https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236](https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236)


![Requests](http://cn.python-requests.org/zh_CN/latest/_static/requests-sidebar.png)

----


request复习

* [http://cn.python-requests.org/zh_CN/latest/](http://cn.python-requests.org/zh_CN/latest/)

# 如果有SDK (Software Developent Kit)--> 不用自己叫HTTP requests

* [Azure API for Cognitive-Face-Python](https://docs.microsoft.com/zh-cn/azure/cognitive-services/face/quickstarts/python-sdk)
* 好处: 不用HTTP requests代码
* 难点: SDK可能需要阅读另外的文档來叫用。若沒有SDK文档，你要自己看懂代碼

# 如果不想用，我们还是应该自己学会如何叫HTTP requests

* img_url  

http://newmedia.nfu.edu.cn/wcy/wp-content/uploads/2018/04/post_20180424__NFU_DoraHacks_imoji%E5%9B%A2%E9%98%9F.jpg

![http://newmedia.nfu.edu.cn/wcy/wp-content/uploads/2018/04/post_20180424__NFU_DoraHacks_imoji%E5%9B%A2%E9%98%9F.jpg](http://newmedia.nfu.edu.cn/wcy/wp-content/uploads/2018/04/post_20180424__NFU_DoraHacks_imoji%E5%9B%A2%E9%98%9F.jpg)

# 参考API文档

* [Face API - v1.0](https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039524c)

* [API URL format]
    * Request URL [https://[location].api.cognitive.microsoft.com/face/v1.0/detect[?returnFaceId][&returnFaceLandmarks][&returnFaceAttributes]](https://[location].api.cognitive.microsoft.com/face/v1.0/detect[?returnFaceId][&returnFaceLandmarks][&returnFaceAttributes)
    * symbol ?
    * [location]
    * base url  [https://[location].api.cognitive.microsoft.com/face/v1.0/detect](https://[location].api.cognitive.microsoft.com/face/v1.0/detect)
    
## Python Code sample


请大家在Azure网站上面找到这两部分内容~我会找同学分享屏幕展示


```python

########### Python 3.2 #############
import http.client, urllib.request, urllib.parse, urllib.error, base64

headers = {
    # Request headers
    'Content-Type': 'application/json',
    'Ocp-Apim-Subscription-Key': '{subscription key}',
}

params = urllib.parse.urlencode({
    # Request parameters
    'returnFaceId': 'true',
    'returnFaceLandmarks': 'false',
    'returnFaceAttributes': '{string}',
})

try:
    conn = http.client.HTTPSConnection('westus.api.cognitive.microsoft.com')
    conn.request("POST", "/face/v1.0/detect?%s" % params, "{body}", headers)
    response = conn.getresponse()
    data = response.read()
    print(data)
    conn.close()
except Exception as e:
    print("[Errno {0}] {1}".format(e.errno, e.strerror))

```
----

```python

import requests
import json

# set to your own subscription key value
subscription_key = None
assert subscription_key

# replace <My Endpoint String> with the string from your endpoint URL
face_api_url = 'https://<My Endpoint String>.com/face/v1.0/detect'

image_url = 'https://upload.wikimedia.org/wikipedia/commons/3/37/Dagestani_man_and_woman.jpg'

headers = {'Ocp-Apim-Subscription-Key': subscription_key}

params = {
    'returnFaceId': 'true',
    'returnFaceLandmarks': 'false',
    # 可选参数,请仔细阅读API文档
    'returnFaceAttributes': 'age,gender,headPose,smile,facialHair,glasses,emotion,hair,makeup,occlusion,accessories,blur,exposure,noise',
}

response = requests.post(face_api_url, params=params,
                         headers=headers, json={"url": image_url})
print(json.dumps(response.json()))

```

* 1、导入需要的requests模块

In [498]:
# 先导入为们需要的模块
import requests
import json

* 2、输入我们需要API网站注册的API_Key

In [499]:
KEY = '3a0ed2e295294e0a94e8423fc5a2b63e'  ##更换成自己的key值

* 3、目标url [base url]

In [500]:
# Base URL,  Request URL中 符号?以前
#。                          eastasia.api.cognitive.microsoft.com  ==》{endpoint}
BASE_URL = 'https://westcentralus.api.cognitive.microsoft.com/face/v1.0/detect'
# base_url 注册的azure账号的终结点/v1.0/detect
# python代码具体怎么引用api参考文档
# https://docs.microsoft.com/zh-cn/azure/cognitive-services/face/quickstarts/python

* 4、沿用API文档的示范代码,准备我们的headers和图片(数据)

In [501]:
# 沿用API的示范代碼，{subscription key}用KEY代入
HEADERS = {
    # Request headers
    'Content-Type': 'application/json',  ## 规范下语言为json
    'Ocp-Apim-Subscription-Key': '{}'.format(KEY), #取得密钥给headers  
}

img_url = 'http://newmedia.nfu.edu.cn/wcy/wp-content/uploads/2018/04/post_20180424__NFU_DoraHacks_imoji%E5%9B%A2%E9%98%9F.jpg'
## 图片链接

* 5、准备symbol ? 后面的数据,这里需要注意,一定要详细阅读API文档中的 “参数功能”,按照要求格式准备payload

* 参数功能可能有:
    * 1、是否必要?必要的一定要准备好
    * 2、选填的一定是功能,要根据功能需求 好好填噢

In [502]:
data = {
    'url': '{}'.format(img_url), ## 读取url的数据
}
payload = {  
    ## https://azure.microsoft.com/zh-cn/services/cognitive-services/face/
    ## 可以在这个界面输入url取得对应的参数，在对想要的参数进行获取
    'returnFaceId': 'true',
    'returnFaceLandmarks': 'false',
    'returnFaceAttributes': '{''}'.format('age,gender,glasses,emotion'), 
}

* 6、requests发送我们请求

* 注意:
    * 详细阅读文档,注意请求方式(GET、POST、DELETE)
    * 注意json 和字典的差异 ,str vs dict

In [503]:
# 坑。参考http://docs.python-requests.org/zh_CN/latest/user/quickstart.html  【更加复杂的post请求】
# 差別是 string 字串 vs. dict 字典
# Azura 使用的是 data = json.dumps(payload) 或 json=payload，data = payload 会出错
r = requests.post(BASE_URL, data=json.dumps(data), params=payload, headers=HEADERS)
## dump对变量进行颠倒
## 官方写法参考 https://azure.microsoft.com/zh-cn/services/cognitive-services/face/

In [504]:
r.status_code  ##查看状态码

200

In [505]:
r

## 拿到数据会不会很开心? 不过我们还可以做的更好
* 别忘记我们是会基本处理数据的,至少要想到用pandas表格化数据.

In [506]:
import pandas as pd
from pandas.io.json import json_normalize
details = r.json()  ## 转化成json对数据进行查看
details

[{'faceId': '1ef5ec67-1782-4efb-9ccb-53dcd60ddb8d',
  'faceRectangle': {'top': 118, 'left': 144, 'width': 88, 'height': 88},
  'faceAttributes': {'gender': 'male',
   'age': 18.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.003,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.813,
    'neutral': 0.184,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': 'ca48d3e0-149b-42d4-86b2-0b5665823e41',
  'faceRectangle': {'top': 117, 'left': 376, 'width': 64, 'height': 64},
  'faceAttributes': {'gender': 'female',
   'age': 20.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.001,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.456,
    'neutral': 0.542,
    'sadness': 0.001,
    'surprise': 0.0}}},
 {'faceId': 'df04a73e-52b7-4ff2-a9e4-32412aa5f15e',
  'faceRectangle': {'top': 41, 'left': 676, 'width': 52, 'height': 52},
  'faceAttributes': {'gender': 'male',
   'age': 23.0,
   'glasses': 'ReadingGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 1.0,
    'neutral': 0.0,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': '224aa441-93cc-4316-8ed4-288d12a6d6c2',
  'faceRectangle': {'top': 69, 'left': 445, 'width': 52, 'height': 52},
  'faceAttributes': {'gender': 'female',
   'age': 21.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 1.0,
    'neutral': 0.0,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': '43c79d73-b7a7-48fc-9520-6102c8137949',
  'faceRectangle': {'top': 95, 'left': 238, 'width': 51, 'height': 51},
  'faceAttributes': {'gender': 'female',
   'age': 17.0,
   'glasses': 'ReadingGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.981,
    'neutral': 0.019,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': 'd93baa98-8e6a-4ab6-bf55-d994ae5484be',
  'faceRectangle': {'top': 94, 'left': 540, 'width': 48, 'height': 48},
  'faceAttributes': {'gender': 'female',
   'age': 19.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 1.0,
    'neutral': 0.0,
    'sadness': 0.0,
    'surprise': 0.0}}}]

In [507]:
df = pd.DataFrame(details)  ## 看看数据框
df

,faceAttributes,faceId,faceRectangle
0,"{'gender': 'male', 'age': 18.0, 'glasses': 'No...",1ef5ec67-1782-4efb-9ccb-53dcd60ddb8d,"{'top': 118, 'left': 144, 'width': 88, 'height..."
1,"{'gender': 'female', 'age': 20.0, 'glasses': '...",ca48d3e0-149b-42d4-86b2-0b5665823e41,"{'top': 117, 'left': 376, 'width': 64, 'height..."
2,"{'gender': 'male', 'age': 23.0, 'glasses': 'Re...",df04a73e-52b7-4ff2-a9e4-32412aa5f15e,"{'top': 41, 'left': 676, 'width': 52, 'height'..."
3,"{'gender': 'female', 'age': 21.0, 'glasses': '...",224aa441-93cc-4316-8ed4-288d12a6d6c2,"{'top': 69, 'left': 445, 'width': 52, 'height'..."
4,"{'gender': 'female', 'age': 17.0, 'glasses': '...",43c79d73-b7a7-48fc-9520-6102c8137949,"{'top': 95, 'left': 238, 'width': 51, 'height'..."
5,"{'gender': 'female', 'age': 19.0, 'glasses': '...",d93baa98-8e6a-4ab6-bf55-d994ae5484be,"{'top': 94, 'left': 540, 'width': 48, 'height'..."

In [508]:
df["faceRectangle"] ## 利用pandas的df[""]可以获取到变量所有观察

0    {'top': 118, 'left': 144, 'width': 88, 'height...
1    {'top': 117, 'left': 376, 'width': 64, 'height...
2    {'top': 41, 'left': 676, 'width': 52, 'height'...
3    {'top': 69, 'left': 445, 'width': 52, 'height'...
4    {'top': 95, 'left': 238, 'width': 51, 'height'...
5    {'top': 94, 'left': 540, 'width': 48, 'height'...
Name: faceRectangle, dtype: object

In [509]:
facerectangle = df["faceRectangle"].to_dict() ## 转化为字典为数据处理做准备
facerectangle

{0: {'top': 118, 'left': 144, 'width': 88, 'height': 88},
 1: {'top': 117, 'left': 376, 'width': 64, 'height': 64},
 2: {'top': 41, 'left': 676, 'width': 52, 'height': 52},
 3: {'top': 69, 'left': 445, 'width': 52, 'height': 52},
 4: {'top': 95, 'left': 238, 'width': 51, 'height': 51},
 5: {'top': 94, 'left': 540, 'width': 48, 'height': 48}}

In [510]:
Facerectangle = pd.DataFrame(facerectangle)
Facerectangle  ## 转化为数据框

          0    1    2    3    4    5
height   88   64   52   52   51   48
left    144  376  676  445  238  540
top     118  117   41   69   95   94
width    88   64   52   52   51   48

In [511]:
Facerectangle = pd.DataFrame(facerectangle).T  ## 变量和序列换换位置用    .T
Facerectangle

   height  left  top  width
0      88   144  118     88
1      64   376  117     64
2      52   676   41     52
3      52   445   69     52
4      51   238   95     51
5      48   540   94     48

In [512]:
df_Rect = pd.DataFrame(Facerectangle)
## 栏位加名称
df_Rect.columns = ["face_rectangle_"+x for x in df_Rect.columns]
        ## 推导式公式：  [“输出结果” for “单个变量” in “总体”]
df_Rect

,face_rectangle_height,face_rectangle_left,face_rectangle_top,face_rectangle_width
0,88,144,118,88
1,64,376,117,64
2,52,676,41,52
3,52,445,69,52
4,51,238,95,51
5,48,540,94,48

In [513]:
df[["faceAttributes"]]  ##df[[]]  输出数据框

                                      faceAttributes
0  {'gender': 'male', 'age': 18.0, 'glasses': 'No...
1  {'gender': 'female', 'age': 20.0, 'glasses': '...
2  {'gender': 'male', 'age': 23.0, 'glasses': 'Re...
3  {'gender': 'female', 'age': 21.0, 'glasses': '...
4  {'gender': 'female', 'age': 17.0, 'glasses': '...
5  {'gender': 'female', 'age': 19.0, 'glasses': '...

In [514]:
# df[["faceAttributes"]].fillna("")

In [515]:
type(df["faceAttributes"].loc[2])  ## 查看序列为2的数据的数据类型，方便后期处理

dict

In [529]:
attribution = [df["faceAttributes"].loc[i]["emotion"] \
 if type(df["faceAttributes"].loc[i])  is dict \
 else missing_value for i in df["faceAttributes"].index ]
attribution

[{'anger': 0.0,
  'contempt': 0.003,
  'disgust': 0.0,
  'fear': 0.0,
  'happiness': 0.813,
  'neutral': 0.184,
  'sadness': 0.0,
  'surprise': 0.0},
 {'anger': 0.0,
  'contempt': 0.001,
  'disgust': 0.0,
  'fear': 0.0,
  'happiness': 0.456,
  'neutral': 0.542,
  'sadness': 0.001,
  'surprise': 0.0},
 {'anger': 0.0,
  'contempt': 0.0,
  'disgust': 0.0,
  'fear': 0.0,
  'happiness': 1.0,
  'neutral': 0.0,
  'sadness': 0.0,
  'surprise': 0.0},
 {'anger': 0.0,
  'contempt': 0.0,
  'disgust': 0.0,
  'fear': 0.0,
  'happiness': 1.0,
  'neutral': 0.0,
  'sadness': 0.0,
  'surprise': 0.0},
 {'anger': 0.0,
  'contempt': 0.0,
  'disgust': 0.0,
  'fear': 0.0,
  'happiness': 0.981,
  'neutral': 0.019,
  'sadness': 0.0,
  'surprise': 0.0},
 {'anger': 0.0,
  'contempt': 0.0,
  'disgust': 0.0,
  'fear': 0.0,
  'happiness': 1.0,
  'neutral': 0.0,
  'sadness': 0.0,
  'surprise': 0.0}]

In [530]:
# for item in details:
#     df = pd.DataFrame(item['faceAttributes'])

#     emotion = df.iloc[:,[3]]
#     display(emotion)
df_attr_emotion = pd.DataFrame(attribution)
# 更换变量名称 face_rectangle 
df_attr_emotion.columns = \
[ "faceAttributes_"+x for x in df_attr_emotion.columns]
df_attr_emotion

,faceAttributes_anger,faceAttributes_contempt,faceAttributes_disgust,faceAttributes_fear,faceAttributes_happiness,faceAttributes_neutral,faceAttributes_sadness,faceAttributes_surprise
0,0.0,0.003,0.0,0.0,0.813,0.184,0.000,0.0
1,0.0,0.001,0.0,0.0,0.456,0.542,0.001,0.0
2,0.0,0.000,0.0,0.0,1.000,0.000,0.000,0.0
3,0.0,0.000,0.0,0.0,1.000,0.000,0.000,0.0
4,0.0,0.000,0.0,0.0,0.981,0.019,0.000,0.0
5,0.0,0.000,0.0,0.0,1.000,0.000,0.000,0.0

* 由于我Azure免费已过期，无法给大家展示Azure，我将用face++用同样的6个步骤给大家展示
#  face++ Detect API(面部检测) 示范6个步骤

In [531]:
# 1、先导入为们需要的模块
import requests


api_secret = "Vr0PtRCw-ZFwYXTKVfi6aDNaSqlfunK3"
# 2、输入我们API_Key
api_key = 'jRpCaZ34kqNYJ8Zppdc-yGGum_YkETov'  # Replace with a valid Subscription Key here.


# 3、目标url
# 这里也可以使用本地图片 例如：filepath ="image/tupian.jpg"
BASE_URL = 'https://api-cn.faceplusplus.com/facepp/v3/detect' 
img_url = 'http://newmedia.nfu.edu.cn/wcy/wp-content/uploads/2018/04/post_20180424__NFU_DoraHacks_imoji%E5%9B%A2%E9%98%9F.jpg'

# 4、沿用API文档的示范代码,准备我们的headers和图片(数据)

headers = {
    'Content-Type': 'application/json',
}

# 5、准备symbol ? 后面的数据

payload = {
    "image_url":img_url,
    'api_key': api_key,
    'api_secret': api_secret,
    'return_attributes':'gender,age,smiling,emotion', 
}

In [532]:
#  6、requests发送我们请求
r = requests.post(BASE_URL, params=payload, headers=headers)

In [533]:
r.status_code

200

In [534]:
r.content

b'{"request_id":"1585733850,5ef9a2e9-1aaa-400a-94e2-853ab0ce7b10","time_used":266,"faces":[{"face_token":"19014a2f703a25893d74d44345670526","face_rectangle":{"top":123,"left":138,"width":90,"height":90},"attributes":{"gender":{"value":"Male"},"age":{"value":23},"smile":{"value":99.995,"threshold":50.000},"emotion":{"anger":0.059,"disgust":0.059,"fear":0.059,"happiness":42.294,"neutral":52.431,"sadness":4.920,"surprise":0.179}}},{"face_token":"0973e6ddebe8b90c2e273a7a3cb929f7","face_rectangle":{"top":122,"left":373,"width":65,"height":65},"attributes":{"gender":{"value":"Female"},"age":{"value":37},"smile":{"value":98.866,"threshold":50.000},"emotion":{"anger":0.169,"disgust":7.280,"fear":0.138,"happiness":17.689,"neutral":8.067,"sadness":66.519,"surprise":0.138}}},{"face_token":"5b6bb7bc4129e7bd1cd9b8abbc5fde5b","face_rectangle":{"top":46,"left":675,"width":54,"height":54},"attributes":{"gender":{"value":"Male"},"age":{"value":23},"smile":{"value":100.000,"threshold":50.000},"emotion":{"anger":0.000,"disgust":0.000,"fear":0.000,"happiness":99.996,"neutral":0.001,"sadness":0.002,"surprise":0.001}}},{"face_token":"9dc6ceaef571fc6f76567187ca588a8a","face_rectangle":{"top":98,"left":235,"width":53,"height":53},"attributes":{"gender":{"value":"Female"},"age":{"value":22},"smile":{"value":99.997,"threshold":50.000},"emotion":{"anger":0.000,"disgust":0.001,"fear":0.000,"happiness":99.990,"neutral":0.009,"sadness":0.000,"surprise":0.000}}},{"face_token":"5218b8f9e7a796120954d0f7776782a7","face_rectangle":{"top":75,"left":444,"width":52,"height":52},"attributes":{"gender":{"value":"Female"},"age":{"value":28},"smile":{"value":99.999,"threshold":50.000},"emotion":{"anger":0.001,"disgust":0.001,"fear":0.027,"happiness":99.933,"neutral":0.027,"sadness":0.010,"surprise":0.001}}},{"face_token":"d8a66ecb3142694b520135e787634b5a","face_rectangle":{"top":98,"left":537,"width":48,"height":48}}],"image_id":"TfC1AByqtXhfuQ6DruqVww==","face_num":6}\n'

In [535]:
# requests 巧妙的方法   r = response
results = r.json() # 
results

{'request_id': '1585733850,5ef9a2e9-1aaa-400a-94e2-853ab0ce7b10',
 'time_used': 266,
 'faces': [{'face_token': '19014a2f703a25893d74d44345670526',
   'face_rectangle': {'top': 123, 'left': 138, 'width': 90, 'height': 90},
   'attributes': {'gender': {'value': 'Male'},
    'age': {'value': 23},
    'smile': {'value': 99.995, 'threshold': 50.0},
    'emotion': {'anger': 0.059,
     'disgust': 0.059,
     'fear': 0.059,
     'happiness': 42.294,
     'neutral': 52.431,
     'sadness': 4.92,
     'surprise': 0.179}}},
  {'face_token': '0973e6ddebe8b90c2e273a7a3cb929f7',
   'face_rectangle': {'top': 122, 'left': 373, 'width': 65, 'height': 65},
   'attributes': {'gender': {'value': 'Female'},
    'age': {'value': 37},
    'smile': {'value': 98.866, 'threshold': 50.0},
    'emotion': {'anger': 0.169,
     'disgust': 7.28,
     'fear': 0.138,
     'happiness': 17.689,
     'neutral': 8.067,
     'sadness': 66.519,
     'surprise': 0.138}}},
  {'face_token': '5b6bb7bc4129e7bd1cd9b8abbc5fde5b',
   'face_rectangle': {'top': 46, 'left': 675, 'width': 54, 'height': 54},
   'attributes': {'gender': {'value': 'Male'},
    'age': {'value': 23},
    'smile': {'value': 100.0, 'threshold': 50.0},
    'emotion': {'anger': 0.0,
     'disgust': 0.0,
     'fear': 0.0,
     'happiness': 99.996,
     'neutral': 0.001,
     'sadness': 0.002,
     'surprise': 0.001}}},
  {'face_token': '9dc6ceaef571fc6f76567187ca588a8a',
   'face_rectangle': {'top': 98, 'left': 235, 'width': 53, 'height': 53},
   'attributes': {'gender': {'value': 'Female'},
    'age': {'value': 22},
    'smile': {'value': 99.997, 'threshold': 50.0},
    'emotion': {'anger': 0.0,
     'disgust': 0.001,
     'fear': 0.0,
     'happiness': 99.99,
     'neutral': 0.009,
     'sadness': 0.0,
     'surprise': 0.0}}},
  {'face_token': '5218b8f9e7a796120954d0f7776782a7',
   'face_rectangle': {'top': 75, 'left': 444, 'width': 52, 'height': 52},
   'attributes': {'gender': {'value': 'Female'},
    'age': {'value': 28},
    'smile': {'value': 99.999, 'threshold': 50.0},
    'emotion': {'anger': 0.001,
     'disgust': 0.001,
     'fear': 0.027,
     'happiness': 99.933,
     'neutral': 0.027,
     'sadness': 0.01,
     'surprise': 0.001}}},
  {'face_token': 'd8a66ecb3142694b520135e787634b5a',
   'face_rectangle': {'top': 98, 'left': 537, 'width': 48, 'height': 48}}],
 'image_id': 'TfC1AByqtXhfuQ6DruqVww==',
 'face_num': 6}

## 要如何简化此数据方便使用?
* pandas !!  (1.0以上版本)
* json_normalize：
    * [json_normalize github](https://github.com/pandas-dev/pandas/blob/v1.0.3/pandas/io/json/_normalize.py#L114-L358)

###  face_rectangle (json_normalize方法) pandas黑魔法
* 先针对这变量看观察

In [536]:
import pandas as pd
from pandas.io.json import json_normalize

In [537]:
results['faces']

[{'face_token': '19014a2f703a25893d74d44345670526',
  'face_rectangle': {'top': 123, 'left': 138, 'width': 90, 'height': 90},
  'attributes': {'gender': {'value': 'Male'},
   'age': {'value': 23},
   'smile': {'value': 99.995, 'threshold': 50.0},
   'emotion': {'anger': 0.059,
    'disgust': 0.059,
    'fear': 0.059,
    'happiness': 42.294,
    'neutral': 52.431,
    'sadness': 4.92,
    'surprise': 0.179}}},
 {'face_token': '0973e6ddebe8b90c2e273a7a3cb929f7',
  'face_rectangle': {'top': 122, 'left': 373, 'width': 65, 'height': 65},
  'attributes': {'gender': {'value': 'Female'},
   'age': {'value': 37},
   'smile': {'value': 98.866, 'threshold': 50.0},
   'emotion': {'anger': 0.169,
    'disgust': 7.28,
    'fear': 0.138,
    'happiness': 17.689,
    'neutral': 8.067,
    'sadness': 66.519,
    'surprise': 0.138}}},
 {'face_token': '5b6bb7bc4129e7bd1cd9b8abbc5fde5b',
  'face_rectangle': {'top': 46, 'left': 675, 'width': 54, 'height': 54},
  'attributes': {'gender': {'value': 'Male'},
   'age': {'value': 23},
   'smile': {'value': 100.0, 'threshold': 50.0},
   'emotion': {'anger': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 99.996,
    'neutral': 0.001,
    'sadness': 0.002,
    'surprise': 0.001}}},
 {'face_token': '9dc6ceaef571fc6f76567187ca588a8a',
  'face_rectangle': {'top': 98, 'left': 235, 'width': 53, 'height': 53},
  'attributes': {'gender': {'value': 'Female'},
   'age': {'value': 22},
   'smile': {'value': 99.997, 'threshold': 50.0},
   'emotion': {'anger': 0.0,
    'disgust': 0.001,
    'fear': 0.0,
    'happiness': 99.99,
    'neutral': 0.009,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'face_token': '5218b8f9e7a796120954d0f7776782a7',
  'face_rectangle': {'top': 75, 'left': 444, 'width': 52, 'height': 52},
  'attributes': {'gender': {'value': 'Female'},
   'age': {'value': 28},
   'smile': {'value': 99.999, 'threshold': 50.0},
   'emotion': {'anger': 0.001,
    'disgust': 0.001,
    'fear': 0.027,
    'happiness': 99.933,
    'neutral': 0.027,
    'sadness': 0.01,
    'surprise': 0.001}}},
 {'face_token': 'd8a66ecb3142694b520135e787634b5a',
  'face_rectangle': {'top': 98, 'left': 537, 'width': 48, 'height': 48}}]

In [538]:
json_normalize(results,record_path='faces')

,attributes,face_rectangle,face_token
0,"{'gender': {'value': 'Male'}, 'age': {'value':...","{'top': 123, 'left': 138, 'width': 90, 'height...",19014a2f703a25893d74d44345670526
1,"{'gender': {'value': 'Female'}, 'age': {'value...","{'top': 122, 'left': 373, 'width': 65, 'height...",0973e6ddebe8b90c2e273a7a3cb929f7
2,"{'gender': {'value': 'Male'}, 'age': {'value':...","{'top': 46, 'left': 675, 'width': 54, 'height'...",5b6bb7bc4129e7bd1cd9b8abbc5fde5b
3,"{'gender': {'value': 'Female'}, 'age': {'value...","{'top': 98, 'left': 235, 'width': 53, 'height'...",9dc6ceaef571fc6f76567187ca588a8a
4,"{'gender': {'value': 'Female'}, 'age': {'value...","{'top': 75, 'left': 444, 'width': 52, 'height'...",5218b8f9e7a796120954d0f7776782a7
5,NaN,"{'top': 98, 'left': 537, 'width': 48, 'height'...",d8a66ecb3142694b520135e787634b5a

In [539]:
df

,faceAttributes,faceId,faceRectangle
0,"{'gender': 'male', 'age': 18.0, 'glasses': 'No...",1ef5ec67-1782-4efb-9ccb-53dcd60ddb8d,"{'top': 118, 'left': 144, 'width': 88, 'height..."
1,"{'gender': 'female', 'age': 20.0, 'glasses': '...",ca48d3e0-149b-42d4-86b2-0b5665823e41,"{'top': 117, 'left': 376, 'width': 64, 'height..."
2,"{'gender': 'male', 'age': 23.0, 'glasses': 'Re...",df04a73e-52b7-4ff2-a9e4-32412aa5f15e,"{'top': 41, 'left': 676, 'width': 52, 'height'..."
3,"{'gender': 'female', 'age': 21.0, 'glasses': '...",224aa441-93cc-4316-8ed4-288d12a6d6c2,"{'top': 69, 'left': 445, 'width': 52, 'height'..."
4,"{'gender': 'female', 'age': 17.0, 'glasses': '...",43c79d73-b7a7-48fc-9520-6102c8137949,"{'top': 95, 'left': 238, 'width': 51, 'height'..."
5,"{'gender': 'female', 'age': 19.0, 'glasses': '...",d93baa98-8e6a-4ab6-bf55-d994ae5484be,"{'top': 94, 'left': 540, 'width': 48, 'height'..."

In [540]:
# df_face_rectangle = df[['face_token','face_rectangle.top','face_rectangle.left','face_rectangle.width','face_rectangle.height']]

----

###  face_rectangle (pandas常规方法)
* 先针对这变量看观察

In [541]:
# 立马试试pd.DataFrame 並观察
faces_data = results['faces']
df = pd.DataFrame(faces_data)
df

# attributes, face_rectangle, face_token
# 查一下API文檔

,attributes,face_rectangle,face_token
0,"{'gender': {'value': 'Male'}, 'age': {'value':...","{'top': 123, 'left': 138, 'width': 90, 'height...",19014a2f703a25893d74d44345670526
1,"{'gender': {'value': 'Female'}, 'age': {'value...","{'top': 122, 'left': 373, 'width': 65, 'height...",0973e6ddebe8b90c2e273a7a3cb929f7
2,"{'gender': {'value': 'Male'}, 'age': {'value':...","{'top': 46, 'left': 675, 'width': 54, 'height'...",5b6bb7bc4129e7bd1cd9b8abbc5fde5b
3,"{'gender': {'value': 'Female'}, 'age': {'value...","{'top': 98, 'left': 235, 'width': 53, 'height'...",9dc6ceaef571fc6f76567187ca588a8a
4,"{'gender': {'value': 'Female'}, 'age': {'value...","{'top': 75, 'left': 444, 'width': 52, 'height'...",5218b8f9e7a796120954d0f7776782a7
5,NaN,"{'top': 98, 'left': 537, 'width': 48, 'height'...",d8a66ecb3142694b520135e787634b5a

In [542]:
# 取变量 (pandas cheetsheet)
df["face_rectangle"]

0    {'top': 123, 'left': 138, 'width': 90, 'height...
1    {'top': 122, 'left': 373, 'width': 65, 'height...
2    {'top': 46, 'left': 675, 'width': 54, 'height'...
3    {'top': 98, 'left': 235, 'width': 53, 'height'...
4    {'top': 75, 'left': 444, 'width': 52, 'height'...
5    {'top': 98, 'left': 537, 'width': 48, 'height'...
Name: face_rectangle, dtype: object

In [543]:
df["face_rectangle"].to_dict()

{0: {'top': 123, 'left': 138, 'width': 90, 'height': 90},
 1: {'top': 122, 'left': 373, 'width': 65, 'height': 65},
 2: {'top': 46, 'left': 675, 'width': 54, 'height': 54},
 3: {'top': 98, 'left': 235, 'width': 53, 'height': 53},
 4: {'top': 75, 'left': 444, 'width': 52, 'height': 52},
 5: {'top': 98, 'left': 537, 'width': 48, 'height': 48}}

In [544]:
pd.DataFrame(df["face_rectangle"].to_dict())

          0    1    2    3    4    5
height   90   65   54   53   52   48
left    138  373  675  235  444  537
top     123  122   46   98   75   98
width    90   65   54   53   52   48

In [545]:
pd.DataFrame(df["face_rectangle"].to_dict()).T

   height  left  top  width
0      90   138  123     90
1      65   373  122     65
2      54   675   46     54
3      53   235   98     53
4      52   444   75     52
5      48   537   98     48

In [546]:
df_rect = pd.DataFrame(df["face_rectangle"].to_dict()).T
# 欄位名稱加上 face_rectangle 
df_rect.columns = [ "face_rectangle_"+x for x in df_rect.columns]
df_rect

,face_rectangle_height,face_rectangle_left,face_rectangle_top,face_rectangle_width
0,90,138,123,90
1,65,373,122,65
2,54,675,46,54
3,53,235,98,53
4,52,444,75,52
5,48,537,98,48

In [547]:
# 使用.join合併
df.join(df_rect)

,attributes,face_rectangle,face_token,face_rectangle_height,face_rectangle_left,face_rectangle_top,face_rectangle_width
0,"{'gender': {'value': 'Male'}, 'age': {'value':...","{'top': 123, 'left': 138, 'width': 90, 'height...",19014a2f703a25893d74d44345670526,90,138,123,90
1,"{'gender': {'value': 'Female'}, 'age': {'value...","{'top': 122, 'left': 373, 'width': 65, 'height...",0973e6ddebe8b90c2e273a7a3cb929f7,65,373,122,65
2,"{'gender': {'value': 'Male'}, 'age': {'value':...","{'top': 46, 'left': 675, 'width': 54, 'height'...",5b6bb7bc4129e7bd1cd9b8abbc5fde5b,54,675,46,54
3,"{'gender': {'value': 'Female'}, 'age': {'value...","{'top': 98, 'left': 235, 'width': 53, 'height'...",9dc6ceaef571fc6f76567187ca588a8a,53,235,98,53
4,"{'gender': {'value': 'Female'}, 'age': {'value...","{'top': 75, 'left': 444, 'width': 52, 'height'...",5218b8f9e7a796120954d0f7776782a7,52,444,75,52
5,NaN,"{'top': 98, 'left': 537, 'width': 48, 'height'...",d8a66ecb3142694b520135e787634b5a,48,537,98,48

###  face_rectangle
* 該你了
* 如何類似手法，運用你pandas的知識，抽出 attributes的數據

In [548]:
df["attributes"]

0    {'gender': {'value': 'Male'}, 'age': {'value':...
1    {'gender': {'value': 'Female'}, 'age': {'value...
2    {'gender': {'value': 'Male'}, 'age': {'value':...
3    {'gender': {'value': 'Female'}, 'age': {'value...
4    {'gender': {'value': 'Female'}, 'age': {'value...
5                                                  NaN
Name: attributes, dtype: object

In [549]:
df["attributes"].loc[4]['emotion']

{'anger': 0.001,
 'disgust': 0.001,
 'fear': 0.027,
 'happiness': 99.933,
 'neutral': 0.027,
 'sadness': 0.01,
 'surprise': 0.001}

In [550]:
type(df["attributes"].loc[0]['emotion'])

dict

In [551]:
df["attributes"].loc[4]['emotion']

{'anger': 0.001,
 'disgust': 0.001,
 'fear': 0.027,
 'happiness': 99.933,
 'neutral': 0.027,
 'sadness': 0.01,
 'surprise': 0.001}

In [552]:
import numpy as np  # missing value np.nan
missing_value = {"emotion": {'sadness': np.nan, 'neutral': np.nan, 'disgust': np.nan, 'anger': np.nan, 'surprise': np.nan, 'fear': np.nan, 'happiness': np.nan}}
df["attributes"] = df["attributes"].fillna(missing_value)
df["attributes"]

0    {'gender': {'value': 'Male'}, 'age': {'value':...
1    {'gender': {'value': 'Female'}, 'age': {'value...
2    {'gender': {'value': 'Male'}, 'age': {'value':...
3    {'gender': {'value': 'Female'}, 'age': {'value...
4    {'gender': {'value': 'Female'}, 'age': {'value...
5                                                  NaN
Name: attributes, dtype: object

In [553]:
df["attributes"].fillna("")

0    {'gender': {'value': 'Male'}, 'age': {'value':...
1    {'gender': {'value': 'Female'}, 'age': {'value...
2    {'gender': {'value': 'Male'}, 'age': {'value':...
3    {'gender': {'value': 'Female'}, 'age': {'value...
4    {'gender': {'value': 'Female'}, 'age': {'value...
5
Name: attributes, dtype: object

In [554]:
# for i in df["attributes"].index:
#     print (i,df["attributes"].loc[i]["emotion"])
#     print (i,df["attributes"].loc[i].get("emotion")  )

In [555]:
type(df["attributes"].loc[0])

dict

In [556]:
[df["attributes"].loc[i]["emotion"] \
 if type(df["attributes"].loc[i])  is dict \
 else missing_value for i in df["attributes"].index ]

[{'anger': 0.059,
  'disgust': 0.059,
  'fear': 0.059,
  'happiness': 42.294,
  'neutral': 52.431,
  'sadness': 4.92,
  'surprise': 0.179},
 {'anger': 0.169,
  'disgust': 7.28,
  'fear': 0.138,
  'happiness': 17.689,
  'neutral': 8.067,
  'sadness': 66.519,
  'surprise': 0.138},
 {'anger': 0.0,
  'disgust': 0.0,
  'fear': 0.0,
  'happiness': 99.996,
  'neutral': 0.001,
  'sadness': 0.002,
  'surprise': 0.001},
 {'anger': 0.0,
  'disgust': 0.001,
  'fear': 0.0,
  'happiness': 99.99,
  'neutral': 0.009,
  'sadness': 0.0,
  'surprise': 0.0},
 {'anger': 0.001,
  'disgust': 0.001,
  'fear': 0.027,
  'happiness': 99.933,
  'neutral': 0.027,
  'sadness': 0.01,
  'surprise': 0.001},
 {'emotion': {'sadness': nan,
   'neutral': nan,
   'disgust': nan,
   'anger': nan,
   'surprise': nan,
   'fear': nan,
   'happiness': nan}}]

In [557]:
df_attr_emotion = pd.DataFrame([\
    df["attributes"].loc[i]["emotion"] \
    if type(df["attributes"].loc[i])  \
    is dict else missing_value['emotion'] \
    for i in df["attributes"].index ])
# 欄位名稱加上 face_rectangle 
df_attr_emotion.columns = \
[ "attributes_emotion_"+x for x in df_attr_emotion.columns]
df_attr_emotion

,attributes_emotion_anger,attributes_emotion_disgust,attributes_emotion_fear,attributes_emotion_happiness,attributes_emotion_neutral,attributes_emotion_sadness,attributes_emotion_surprise
0,0.059,0.059,0.059,42.294,52.431,4.920,0.179
1,0.169,7.280,0.138,17.689,8.067,66.519,0.138
2,0.000,0.000,0.000,99.996,0.001,0.002,0.001
3,0.000,0.001,0.000,99.990,0.009,0.000,0.000
4,0.001,0.001,0.027,99.933,0.027,0.010,0.001
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN